/* ------------------------------------------------------------------------------------ */
/*        information                                                                   */
/* ------------------------------------------------------------------------------------ */

/*
    Description : General css for nuxt markdown rendering
    Version     : 1.1
    Last Update : 27.01.2025
    Author      : lichzelg
    License     : MIT
    License URL : https://www.tldrlegal.com/license/mit-license
*/

.inverted-color {
  filter: invert(0.5) !important;
}

.nuxt-content {
  /* padding-left: calc(2 * var(--font-size)); */
  opacity: 0.9;
}

/* .nuxt-content span:first-of-type {
  padding: 0;
  padding-left: var(--font-size);
  text-transform: uppercase;
  font-size: calc(0.7 * var(--font-size));
  opacity: 1;
} */

.nuxt-content pre span {
  padding: 0 !important;
  text-transform: normal;
  font-size: calc(var(--font-size));
}

.nuxt-content-highlight {
  position: relative;
  border-radius: var(--border-radius);
  /* background: var(--bg-2); */
}

.nuxt-content div {
  position: relative;
}

.nuxt-content div pre {
  position: relative;
  display: block;
  background: var(--bg-1);
  border-radius: var(--border-radius);
  word-wrap: break-word;
  white-space: normal;
  opacity: var(--level1-opacity);
  /* padding-left: calc(2 * var(--font-size));
  padding-right: calc(2 * var(--font-size)); */
}

.nuxt-content div pre button {
  all: unset;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  color: currentColor;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--col);
  opacity: 0.7;
}

.copy-active {
  color: #3498db; /* Inherit the color of the parent button */
}

.nuxt-content h1 {
  color: var(--col-transparent2);
  font-size: calc(1.2 * var(--font-size));
  margin-top: calc(var(--font-size));
  margin-bottom: calc(0.2 * var(--font-size));
}

.nuxt-content h1 a {
  display: none;
}

.nuxt-content h2 {
  color: var(--col-primary);
  opacity: var(--level2-opacity);
  font-size: calc(1.2 * var(--font-size));
  margin-top: calc(var(--font-size));
  margin-bottom: calc(0.2 * var(--font-size));
}

.nuxt-content h2 a {
  display: none;
}

.nuxt-content h3 {
  color: #734c8c;
  /* color: #c1841f; */
  font-size: calc(1.2 * var(--font-size));
  margin-top: calc(var(--font-size));
  margin-bottom: calc(0.2 * var(--font-size));
}

.nuxt-content h4 {
  color: #734c8c;
  padding-bottom: var(--font-size);
}

.nuxt-content h5 {
  color: #249bb2;
}

/* .nuxt-content h3:not(:first-child) {
  margin-top: calc(var(--font-size));
} */

.nuxt-content p {
  margin-bottom: var(--font-size);
}

.nuxt-content table {
  width: 100%;
  margin-bottom: calc(3 * var(--font-size));
  margin-top: calc(3 * var(--font-size));
  border: 0px solid #ccc;
  border-collapse: collapse;
}

.nuxt-content table td {
  padding: 4px 6px 4px 6px;
  border: 1px solid var(--col-transparent4);
  border-top: 0px;
  word-break: break-all;
  word-break: break-word;
  overflow: hidden;
  white-space: pre-line;
}

.nuxt-content table tr:first-child th {
  border-top: 0;
}

.nuxt-content table tr:nth-child(even) {
  background-color: var(--bg-alter);
}

.nuxt-content table tr:last-child td {
  border-bottom: 0;
}

.nuxt-content table tr td:first-child,
.nuxt-content table tr th:first-child {
  border-left: 0;
}
.nuxt-content table tr td:last-child,
.nuxt-content table tr th:last-child {
  border-right: 0;
}

.nuxt-content table thead {
  border-bottom: 1px solid var(--col-transparent4);
}

.nuxt-content hr {
  opacity: 0.2;
}

.nuxt-content ul li {
  opacity: 0.9;
}

.nuxt-content ul li:last-child {
  margin-bottom: calc(1 * var(--font-size));
}

.nuxt-content div pre code {
  color: var(--col);
}

.nuxt-content a {
  text-decoration: none;
  overflow-wrap: break-word;
}

.nuxt-content a:hover {
  color: var(--col-link-hover);
}

.nuxt-content a:active {
  color: var(--col-link-active);
}

.nuxt-content img {
  width: 100%;
  height: 100%;
  /* border-radius: 2px; */
}

.nuxt-content .img40 {
  margin: calc(2 * var(--font-size)) auto 0 auto;
  width: 40%;
}

.nuxt-content .img60 {
  margin: calc(2 * var(--font-size)) auto 0 auto;
  width: 60%;
}

.nuxt-content .img80 {
  margin: calc(2 * var(--font-size)) auto 0 auto;
  width: 80%;
}

.nuxt-content .caption {
  font-weight: bold;
  font-family: "Walter Turncoat", sans-serif;
  text-align: center;
  margin-bottom: calc(3 * var(--font-size));
}

.except {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------------------ */
/*        content commons                                                               */
/* ------------------------------------------------------------------------------------ */
@media (min-width: 1025px) {
  .main {
    margin-top: 5%;
    /* margin-top: calc(1 * var(--navigation-height)); */
    margin-left: calc((100% - var(--page-width)) * 48 / 100);
    margin-right: calc((100% - var(--page-width)) * 48 / 100);
  }

  .article {
    grid-column: 1/10;
  }

  .article .article-meta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
  }

  .article .article-meta span {
    /* margin: auto 0 0 auto; */
    opacity: 0.4;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .main {
    margin-top: 3em;
    margin-left: var(--font-size);
    margin-right: var(--font-size);
  }

  .article {
    grid-column: 1/11;
    /* display: flex; */
    /* flex: 1; */
  }

  .article .article-meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .article .article-meta span {
    margin: auto 0 0 auto;
    opacity: 0.4;
  }

  .toc {
    user-select: none;
    display: none;
  }
}

@media (max-width: 480px) {
  .main {
    margin-top: calc(2 * var(--navigation-height));
    font-size: 0.8em;
    margin-top: 3em;
  }

  .article {
    grid-column: 1/11;
  }

  .article-meta {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
  }

  .article .article-meta span {
    opacity: 0.4;
  }

  p {
    padding-left: 2px;
  }

  .toc {
    display: none;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: calc(2 * var(--main-font-size));
}

.article .article-meta h1 {
  font-size: calc(2.4 * var(--font-size));
  margin-top: auto;
}

.toc-container {
  line-height: 1.4;
  position: fixed;
  top: 25%;
  /* top: calc(var(--navigation-height)*3); */
  left: calc(
    (100% - var(--page-width) * 8 / 10) / 2 + (var(--page-width) * 8 / 10) +
      var(--font-size) * 4
  );
  /* right: calc(var(--page-width)/4); */
}

.toc-container * div:hover {
  cursor: pointer;
  opacity: 1;
}

.toc-container .toc-title {
  text-decoration: none;
  opacity: 0.8;
  color: var(--col-primary);
}

.toc-container .toc-content {
  text-decoration: none;
  color: var(--col-primary);
  opacity: 0.8;
}

.toc-container a {
  color: var(--col-link);
}

.toc-container a:hover {
  font-weight: bold;
}

.toc-container a:active {
  color: var(--col-link-active);
}

.code-title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding: 0.2rem 1.1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-color: var(--col-border);
}

.title-text {
  font-size: .9rem;
}

pre {
  white-space: pre; /* Ensures line breaks are preserved */
  font-family: monospace; /* Makes it look like code */
  font-size: inherit; /* Override this to keep the size consistent */
  overflow-x: auto; /* Handles long lines with horizontal scrolling */
}

code {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: inherit;
  font-size: 0.75rem;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1rem; /* Adjust spacing between term and definition */
  row-gap: 0.5rem; /* Adjust spacing between rows */
  align-items: center;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0; /* Remove default margin to keep it inline */
}

/* ------------------------------------------------------------------------------------ */
/*        override prism                                                                */
/* ------------------------------------------------------------------------------------ */
code[class*="language-"],
pre[class*="language-"] {
  padding: .5rem 1rem 1rem 1rem !important;
  margin-top: 0 !important;
  text-shadow: none !important;
}

.token.operator {
  background: var(--bg-1) !important;
}
