/* ------------------------------ */
/* local variables                */
/* ------------------------------ */

/* ------------------------------ */
/* cases                          */
/* ------------------------------ */

.nom {
  color: var(--s-col-gree);
}

.akk {
  color: var(--s-col-blue);
}

.dat {
  color: var(--s-col-viol);
}

.gen {
  color: var(--s-col-yell);
}

/* ------------------------------ */
/* positions                      */
/* ------------------------------ */
.pos1 {
  background-color: var(--s-col-hl-oliv);
  color: var(--s-col-oliv);
  border-radius: var(--highlight-border-radius);
  padding: 0.1em 0.2em;
}

.pos2 {
  background-color: var(--s-col-hl-teal);
  color: var(--s-col-teal);
  border-radius: var(--highlight-border-radius);
  padding: 0.1em 0.2em;
}

.pos-1 {
  background-color: var(--s-col-hl-oran);
  color: var(--s-col-oran);
  border-radius: var(--highlight-border-radius);
  padding: 0.1em 0.2em;
}

/* ------------------------------ */
/* object types                   */
/* ------------------------------ */
.kon /* konnektor */ 
{
  padding: 0 4px 0 2px;
  border: var(--color-transparent2);
  background: var(--s-col-hl-oran2);
  position: relative;
  border-radius: var(--highlight-border-radius);
  /* border-width: thin; */
  /* border-style: dashed; */
}


.kon::before {
  content: "kon";
  font-size: 0.7em;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: -40%;
  right: 0;
  width: 100%;
  height: 1px;
  transition: opacity .2s;
  text-shadow: 0px 1px var(--bg);
}

.kon:hover::before {
  opacity: 0.8;
}

.pra /* präposition */
{
  padding: 0 4px 0 2px;
  background: var(--s-col-hl-mage2);
  position: relative;
  border-radius: var(--highlight-border-radius);
}

.pra::before {
  content: "prä";
  font-size: 0.7em;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: -40%;
  right: 0;
  width: 100%;
  height: 1px;
  transition: opacity .2s;
  z-index: 100;
  text-shadow: 0px 1px var(--bg);
}

.pra:hover::before {
  opacity: 0.8;
}

/* .pra::after {
  content: "test";
  position: absolute;
  top: 90%;
  right: 0px;
  width: 60%;
  height: 1px;
  background-color: black;
} */

/* ------------------------------ */
/* line highlights                */
/* ------------------------------ */



.hl /* konnektor*/ {
  position: relative;
}

.hl::before {
  /* Highlight color */
  background-color: var(--bg-thertiary);
  border-radius: var(--highlight-border-radius);
  /* border-style: dotted; */
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 128%;
  left: -2px;
  bottom: 0;
  z-index: -2;
  transform: rotate(-1deg);
}
