@font-face {
    src: url(@/static/fonts/Gotham/GothamBook.ttf);
    font-family: Gotham;
  }

:root {
    /* ---------- Dimensions ----------- */
    --navigation-height-mobile: 2em;
    --navigation-height-tablet: 80px;
    --navigation-height-pc: 100px;
    --navigation-height: 100px;
    --page-width-mobile: 98%;
    --page-width-tablet: 96%;
    --page-width-pc: 54%;
    --page-width: 54%;
    --page-width-max: 1920px;
    --font-size: 1em;
    --border-radius: 4px;
    --highlight-border-radius: 2px;
    /* ---------- Other ----------- */
    --level1-opacity: 0.8;
    --level2-opacity: 0.6;
    --level3-opacity: 0.4;
    --level4-opacity: 0.2;
    --opa-10: 0.10;
    --opa-15: 0.15;
    --main-blur: blur(2px);
    /* ---------- Colors ----------- */
    --color: #243746;
    --color-primary: #128ec4;
    --color-secondary: #0e2233;
    --color-link: #128ec4;
    --color-link-hover: #ffa100;
    --color-link-active: #da1991;
    --color-transparent2: rgba(14,22,27, var(--level2-opacity));
    --color-transparent3: rgba(14,22,27, var(--level3-opacity));
    --color-transparent4: rgba(14,22,27, var(--level4-opacity));
    --color-border: #ddd;
    --col-highlight: rgba(232,236,237, var(--level1-opacity));
    --col-hl-1: rgba(232,236,237, var(--level1-opacity));
    --col-hl-2: rgba(232,236,237, var(--level2-opacity));
    --col-hl-3: rgba(232,236,237, var(--level3-opacity));
    --col-hl-4: rgba(232,236,237, var(--level4-opacity));
    --icon-glow: #cccccc;
    --bg: #f6f6f6; /* #f1e7d0 */
    --bg-alter: #f2f2f2;
    --bg-transparent: rgba(246,246,246, var(--level1-opacity)); /* 243, 245, 244*/
    --bg-secondary: #e8eced;
    --bg-thertiary: #e0e0e0;
    /* ---------- Theme Independent Colors ----------- */
    /* --s-col-whit: #f6f6f6; */
    /* --s-col-blac: #090909; */
    --s-col-blac: #090909;
    --s-col-blue: #06b4ba;
    --s-col-viol: #da1991;
    --s-col-gree: #3cba06; 
    --s-col-yell: #e6cc00;
    --s-col-teal: #008080;
    --s-col-oran: #ffa100;
    --s-col-oliv: #6b8e23;
    --s-col-mage: #a64ca6;
    --s-col-sea: rgba(46,148,110, 1);
    /* ---------- Theme independent highlight colors ----------- */
    --s-col-hl-blac: rgba(9,9,9, var(--opa-10));
    --s-col-hl-sea: rgba(46,148,110, var(--opa-10));
    --s-col-hl-viol: rgba(218,25,145, var(--opa-10));
    --s-col-hl-teal: rgba(0,50,50, var(--opa-10));
    --s-col-hl-oran: rgba(100,63,0, var(--opa-10));
    --s-col-hl-oliv: rgba(107,142,35, var(--opa-10));
    --s-col-hl-mage: rgba(166,76,166, var(--opa-10));

    --s-col-hl-red: rgba(255,0,0, var(--opa-10));
    --s-col-hl-gree: rgba(0,255,0, var(--opa-10));
    --s-col-hl-blue: rgba(0, 0, 255, var(--opa-10));
    --s-col-hl-yell: rgba(128,128,0, var(--opa-15));
    --s-col-hl-turq: rgba(0,128,128, var(--opa-15));
    --s-col-hl-purp: rgba(128, 0, 128, var(--opa-15));

  }
    /* ---------- Dimensions Setup ------------- */
    @media (max-width: 480px) {
      :root {
        --navigation-height: var(--navigation-height-mobile);
        --page-width: var(var(--page-width-mobile));
      }
    }
    @media (min-width: 481px) and (max-width: 1024px) {
      :root {
        --navigation-height: var(--navigation-height-tablet);
        --page-width: var(var(--page-width-tablet));
      }
    }
    @media (min-width: 1025px) {
      :root {
        --navigation-height: var(--navigation-height-pc);
        --page-width: var(var(--page-width-pc));
      }
    }
  
  .dark-mode {
    --color: #ebf4f1;
    --color-primary: #06b4ba;
    --color-secondary: #fdf9f3;
    --color-link: #06b4ba;
    --color-link-hover: #ffa100;
    --color-link-active: #da1991;
    --color-transparent2: rgba(92,96,95, var(--level2-opacity));
    --color-transparent3: rgba(92,96,95, var(--level3-opacity));
    --color-transparent4: rgba(92,96,95, var(--level4-opacity));
    --color-border: #626262;
    --col-highlight: rgba(32,32,32, 1);
    --icon-glow: #aaaaaa;
    --bg: #090909; /* 121212*/
    --bg-alter: #121212;
    --bg-transparent: rgba(9,9,9, var(--level1-opacity)); /*22, 22, 22*/
    --bg-secondary: #202020;
    --bg-thertiary: #282828;
  }
  .sepia-mode {
    --color: #433422;
    --color-primary: #9ea134;
    --color-secondary: #504231;
    --color-link: #9ea134;
    --color-link-hover: #ffa100;
    --color-link-active: #da1991;
    --color-transparent2: rgba(26,20,13, var(--level2-opacity));
    --color-transparent3: rgba(26,20,13, var(--level3-opacity));
    --color-transparent4: rgba(26,20,13, var(--level4-opacity));
    --icon-glow: #b29f87;
    --color-border: #ded0bf;
    --bg: #f1e7d0; 
    --bg-alter: #f1e760;
    --bg-transparent: rgba(241,231,208, var(--level1-opacity));
    --bg-secondary: #eae0c9;
    --bg-thertiary: #dbcea9;
  }
  
  .inverted-color {
    filter: invert(1);
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Gotham', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s;
  }
  a {
    color: var(--color-primary);
  }
  
  /* -- Yedek -- */
  
  /* body {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .dark-mode body {
    background-color: #161616;
    color: #fdfdfd;
  }
  
  .sepia-mode body {
    background-color: #f1e7d0;
    color: #433422;
  } */
  
  /* -- Yedek 2 */
  /* :root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --navigation-height: 100px;
  }
  
  .dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  }
  .sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  }
  
  body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
  }
  a {
  color: var(--color-primary);
  } */

  /* ==== Utility */
.overlay-red {
    background-color: rgba(255, 102, 51, 0);
    /*  */
  }
  
  .overlay-red:hover {
    background-color: rgba(255, 102, 51, 0.02);
    /*  */
    transition: background-color 0.6s;
  }
  
  .overlay-blue {
    background-color: rgba(6, 180, 186, 0);
    /*  */
  }
  
  .overlay-blue:hover {
    background-color: rgba(6, 180, 186, 0.2);
    /*  */
    transition: background-color 0.6s;
  }